body::-webkit-scrollbar {
    width: 12px;

}

body::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
}

body {
    background-color: #1b1a26;
    color: #fff;
}

#navbar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

h1,
h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
}
.content {
    margin-top: 10px;
}
.preface {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.preface h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.lien a {
    color: #ffbc00;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#article {
    /* position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    /* width: 50em; */
    padding: 10px;
    overflow: hidden;
}

#article .title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;

}

#article .written-by-author {
    font-size: 1.5rem;
    margin-bottom: 10px;
}



#article .text-article {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#article .text-article p {
    margin-bottom: 10px;
}

#article .banner {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

}

#last-articles>div>div>.written-by-author {
    max-width: 100%;
    overflow: hidden;
}

.article-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* @media only screen and (max-width: 600px) {
    #article .banner {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
}
 */

/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: relative;
    display: flex;justify-content: space-evenly;
    height: auto;
    background-color: #1b1a26;
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
#article .banner {
    width: 60%;
    height: 100%;
    margin-bottom: 10px;
}
}
/* 
@media only screen and (min-width: 1280px) {
    .contain + .contain .social  {
        width: 1200px;
        margin: 0 auto;
    }

    .banner img {
        width: 60%;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
} */